################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/DMProject/.vs/DMProject/FileContentIndex
/DMProject/.vs/DMProject/v17
